*{
    box-sizing: border-box;
}
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #139207;
    cursor: pointer;
    font-size: 20px;
  }
  
  .btn:hover {
    background-color: rgb(32, 240, 42);
  }
  
  .btn.active {
    background-color: rgb(62, 153, 26);
    color: rgb(53, 223, 143);
  }