/*images*/
* {box-sizing: border-box;}
img {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
  }
  
  img:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
  }
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  .container:hover .overlay {
    opacity: 0.5;
  }